src/org-dependent/flows/ExampleFlowDataSync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendData</name>
        <label>SendData</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>MktDataInvocable</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__dataObj</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.MKTBusinessUnit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalKey</name>
            <value>
                <stringValue>ExampleContactObject</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MktDataInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendToJourney</name>
        <label>SendToJourney</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>MktJourneyEventInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendData</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__dataObj</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.MKTBusinessUnit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactKey</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalKey</name>
            <value>
                <stringValue>testingData</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MktJourneyEventInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ExampleFlowDataSync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExampleFlowDataSync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SendToJourney</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
